name: rss
on:
  schedule:
    - cron:  '0 22 * * *'    # 国际标准时间22点（北京时间早上6点发） 
  push:
    branches:    
      - main
jobs:
  push:
      runs-on: ${{ matrix.operating-system }}
      strategy:
        matrix:
          # in this example, there is a newer version already installed, 3.7.7, so the older version will be downloaded
          operating-system: ['ubuntu-22.04']
      permissions:
        contents: write  # 必须开启写权限，才能推送分支
      
      steps:
        - uses: actions/checkout@v3 # Checking out the repo
        - name: Run with setup-python 3.9
          uses: actions/setup-python@v4
          with:
            python-version: '3.9'
            update-environment: false
            cache: 'pipenv'
        - name: Install pipenv
          run: pip3 install --user pipenv
        - name: Install dependecies
          run:  pipenv --python python3 && pipenv install
        - name: Build
          env:
              USER: ${{ secrets.USER }}
              PASSWORD: ${{ secrets.PASSWORD }}
              HOST: ${{ secrets.HOST }}
          run: pipenv run build
        # - name: Deploy to gh-pages  # 更加标准和干净的部署方式
        #   run: |
        #     git config --global user.email "actions@github.com"
        #     git config --global user.name "GitHub Actions"
            
        #     # 创建一个临时的发布目录，只放需要部署的文件
        #     mkdir deploy_out
        #     cp -r docs/* deploy_out/
        #     cp README.md deploy_out/
        #     cp subscription_list_v1.opml subscription_list_v2.opml rss_info.json deploy_out/ 2>/dev/null || true
            
        #     cd deploy_out
        #     git init
        #     git add .
        #     git commit -m "Auto updated at $(date)"
            
        #     # 强制推送到仓库的 gh-pages 分支
        #     git push -f "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git" HEAD:gh-pages
